# **Introduction**

Dataset containing video games list, with metascore and user ratings.

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as stats
import math
import matplotlib.gridspec as gridspec
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
%matplotlib inline
import plotly.graph_objs as go

In [0]:
# import dataframes
df_VGUserRankings = pd.read_csv("https://raw.githubusercontent.com/yassinhediger/Bigscale-Videogames/master/data/videogamesuserranking-new.csv")

In [0]:
df_VGUserRankings['name_new'] = df_VGUserRankings['name']

In [4]:
df_VGUserRankings.head(10000)

      metascore  ...                             name_new
0            97  ...                   Grand Theft Auto V
1            97  ...                   Grand Theft Auto V
2            95  ...                       The Last of Us
3            94  ...                    BioShock Infinite
4            94  ...                    BioShock Infinite
...         ...  ...                                  ...
9995         66  ...                        Midnight Pool
9996         66  ...  Wolf of the Battlefield: Commando 3
9997         66  ...                         Shred Nebula
9998         66  ...                          Lost Cities
9999         66  ...                      Sonic Unleashed

[10000 rows x 6 columns]

In [5]:
#Lower all the letters from Name column
df_VGUserRankings['name_new'] = df_VGUserRankings['name_new'].str.lower()
#Removing White space
df_VGUserRankings['name_new']= df_VGUserRankings['name_new'].str.replace(" ", "") 
#Removing special character
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","â€“"]
for char in spec_chars:
    df_VGUserRankings['name_new'] = df_VGUserRankings['name_new'].str.replace(char, ' ')

df_VGUserRankings.head(100000)

       metascore  ...                   name_new
0             97  ...            grandtheftautov
1             97  ...            grandtheftautov
2             95  ...                thelastofus
3             94  ...           bioshockinfinite
4             94  ...           bioshockinfinite
...          ...  ...                        ...
15642         38  ...  touhoukobutov burstbattle
15643         38  ...                    randall
15644         36  ...           tokyotattoogirls
15645         26  ...                   roadrage
15646         17  ...         vroominthenightsky

[15647 rows x 6 columns]

In [10]:
df_VGUserRankings.drop(columns=["console", "date"],axis=1, inplace=True)
df_VGUserRankings

       metascore  ...                   name_new
0             97  ...            grandtheftautov
1             97  ...            grandtheftautov
2             95  ...                thelastofus
3             94  ...           bioshockinfinite
4             94  ...           bioshockinfinite
...          ...  ...                        ...
15642         38  ...  touhoukobutov burstbattle
15643         38  ...                    randall
15644         36  ...           tokyotattoogirls
15645         26  ...                   roadrage
15646         17  ...         vroominthenightsky

[15647 rows x 4 columns]

In [0]:
df_VGUserRankings.to_csv('cleandata.csv')